# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# OS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
*.swp
*.swo
*~

# Secrets
*.xcconfig
!*.xcconfig.template
GoogleService-Info.plist
